@charset "UTF-8";

@import "../../styles/variables.less";
@import "../../styles/mixins.less";

.header {
  background: @header-bg;
  .lh-equal-h(@header-height);
  text-align: center;
}
.title {
  color: @base-link-color;
}
