@charset "UTF-8";

@import "../../styles/variables.less";
@import "../../styles/mixins.less";

.to-add {
  text-align: center;
  border: @add-border;
  border-radius: @add-radius;
  .lh-equal-h(@add-height);
  font-size: @add-height * 0.4;
  color: @border-color;
  cursor: pointer;
  width: @add-width;
  margin: auto;
}
