@charset "UTF-8";

@import "../../styles/variables.less";
@import "../../styles/mixins.less";

.container {
  padding: 10px 0px 0px 15px;
}
.content-menu {
  text-align: left;
  .lh-equal-h(@bg-font-size + 4px);
}
:global(.menu) {
  font-size: @font-size;
}
:global(.menu-active) {
  color: @hover-color;
}
