@charset "UTF-8";

@import "../../utils/variables.less";
@import "../../utils/mixins.less";

.fixed {
  position: fixed;
  bottom: 0px;
}
.footer {
  .size(100%, @font-size-h2);
  text-align: center;
  color: #c6c6c6;
  font-size: @sm-font-size;
}
